POSTGRES_USER=devpulse
POSTGRES_PASSWORD=*****
POSTGRES_HOST=db
POSTGRES_DB=devpulse
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=*****
ACCESS_TOKEN_EXPIRE_MINUTES=30

ENVIRONMENT=DEV